[Unit]
Description=mgmtd_main Server
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=1000000
ExecStart=/opt/3fs/bin/mgmtd_main --launcher_cfg /opt/3fs/etc/mgmtd_main_launcher.toml --app-cfg /opt/3fs/etc/mgmtd_main_app.toml
Type=simple

[Install]
WantedBy=multi-user.target
